.forecast-item {
  flex-shrink: 1;
  flex-basis: 10%;
  padding: 0.5em;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
      background-color: rgba(0,0,0,0.4);
  }

  img {
    display: block;
    margin: 1em auto;
  }

  h2 {
    text-align: center;
  }

  .tempContainer {
    display: flex;
    
    h2 {
      margin: 0.5em;

      &.low {
        color: #15a3e0;
      }

      &.high {
        color: #ef3725; 
      }
    }

  }
}
