.forecast-item {
  flex-shrink: 1;
  flex-basis: 10%;
  padding: 0.5em;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
      background-color: rgba(0,0,0,0.4);
  }

  img {
    display: block;
    margin: 1em auto;
  }

  h2 {
    text-align: center;
  }
  
  .icon-container {
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: #eee;
      }

      @media only screen and (max-width: 767px) {
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 30%;
      }
    }
  }

  p {
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
  }
}

.ngdialog-content .conditions.data {
  display: block;

  >div:first-child {
    width: auto;
    text-align: center;
    
    .temp-container {
      justify-content:center;
    }
  }

  table {
     margin-left: 0;
  }
}
