<h2>Today's Detailed Forecast</h2>

<div class="conditions data">
    <div>
        <div class="icon-container">
            <ng-include src="fvm.iconMappings[fvm.data.icon] ? fvm.iconMappings[fvm.data.icon] : fvm.iconMappings.default"></ng-include>
        </div>
        <div class="temp-container">
            <h2 class="center low" tooltips tooltip-template="{{fvm.data.temperatureMinTime * 1000 | date: 'h:mm a'}}">{{fvm.data.temperatureMin | number: 0}}&deg;</h2>
            <h2 class="center high" tooltips tooltip-template="{{fvm.data.temperatureMaxTime * 1000 | date: 'h:mm a'}}">{{fvm.data.temperatureMax | number: 0}}&deg;</h2>
        </div>
        <p class="center">
            {{fvm.data.summary}}
        </p>
    </div>
    <div>
        <table>
            <tr>
                <td>Sunrise</td>
                <td>{{fvm.data.sunriseTime * 1000 | date: 'h:mm a'}}</td>
            </tr>
            <tr>
                <td>Sunset</td>
                <td>{{fvm.data.sunsetTime * 1000 | date: 'h:mm a'}}</td>
            </tr>
            <tr>
                <td>Chance of Precip ({{fvm.data.precipType}})</td>
                <td>{{fvm.data.precipProbability * 100}}%</td>
            </tr>

            <tr>
                <td>Max Precipitation Intensity</td>
                <td>
                    <span ng-if="fvm.data.precipIntensityMax <= 0.01">less than .01 in/hr</span>
                    <span ng-if="fvm.data.precipIntensityMax > 0.01">{{fvm.data.precipIntensity | number: 2}} in/hr around {{fvm.data.precipIntensityMaxTime * 1000 | date: 'h:MM a'}}</span>
                </td>
            </tr>

            <tr>
                <td>Humidity</td>
                <td>{{fvm.data.humidity * 100}}%</td>
            </tr>

            <tr>
                <td>Wind</td>
                <td>{{fvm.data.windSpeed}} mph {{fvm.data.windBearing | compassDirection}}</td>
            </tr>

            <tr>
                <td>Visibility</td>
                <td>{{fvm.data.visibility > 10 ? 'unlimited' : fvm.data.visibility + ' miles'}}</td>
            </tr>

            <tr>
                <td>Dew Point</td>
                <td>{{fvm.data.dewPoint}}&deg;</td>
            </tr>

            <tr>
                <td>Max Wind Chill</td>
                <td>{{fvm.data.apparentTemperatureMax}}&deg; around {{fvm.data.apparentTemperatureMaxTime * 1000 | date: 'h:MM a'}}</td>
            </tr>

            <tr>
                <td>Min Wind Chill</td>
                <td>{{fvm.data.apparentTemperatureMin}}&deg; around {{fvm.data.apparentTemperatureMinTime * 1000 | date: 'h:MM a'}}</td>
            </tr>
        </table>
    </div>
</div>