<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - By Tom Sears</title>
    </head>
    <body>
        <header>
            The Weather
        </header>
        <div>
            @RenderBody()
        </div>

        <footer>
            <p><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></p>
            <p>&copy; 2017 Tom Sears</p>
        </footer>

    </body>
</html>