#forecast-navigator {
    display: flex;
    background-color: #555;
    margin: 1em 2em;
    border-radius: 5px;
    box-shadow: 3px 3px #333;

    @media only screen and (max-width: 767px) {
		margin: 0;
	}
}

#forecast-back, #forecast-forward {
    font-weight: bolder;
    margin: 0;
    padding: 1em;
    background-color: rgba(0,0,0,0.1);

    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
        background-color: #222;
    }

    >span {
        position:relative;
        top: 50%;
        font-size: 2em;
    }

    @media only screen and (max-width: 767px) {
        display: none;
    }
}

#forecast-back {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#forecast-forward {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#forecast-container {
  display: flex;
  justify-content:space-between;
  overflow: hidden;

  @media only screen and (max-width: 767px) {
      display: block;
  }
}
