.forecast-item {
  flex-shrink: 1;
  width: 20%;
  padding: 1em;
  border: 1px solid #eee;
  border-radius: 5px;

  img {
    display: block;
    margin: 1em auto;
  }

  h2 {
    text-align: center;
  }
}
