.error-notification {
	color: #d8000c; 
	background-color: #ffbaba; 
	border: 1px solid #d8000c; 
	padding:5px; 
	margin: 1em 2em;

	>div {
		margin: 0;
	}
}

.warning-notification {
	color: #9f6000; 
	background-color: #feefb3; 
	border: 1px solid #9f6000; 
	padding:5px; 
	margin: 1em 2em;
}

.information-notification {
	color: #00529B; 
	background-color: #BDE5F8; 
	border: 1px solid #00529B; 
	padding:5px; 
	margin: 1em 2em;
}