#big-container {
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
  margin-right: 1em;

  @media only screen and (max-width: 767px) {
      display: block;
      margin: auto;
      padding: 1em 0;

      h1 {
        margin: 0;
      }
  }
}

#search-container {
  border-radius: 5px;
  background-color: #555;
  box-shadow: 3px 3px #333;

  input {
    height: 19px;
  }

  button {
    border: 1px solid #eee;
    border-radius:2px;
    background-color: transparent;
    padding-top: 3px;
    position:relative;
    top: 2px;
    cursor: pointer;

    svg {
      height: 15px;
      width: 15px;
      fill: white;
    }
  }
  
  @media only screen and (max-width: 767px) {
    margin: 1em auto;
  }
}

#search-container {
  text-align: center;
  padding: 1em;
  
  p {
    padding-bottom: 0;
  }

  input {
    font-size: 14px;
  }
}