@import 'reset';
@import 'headings';
@import 'search-container';
@import 'tables';
@import 'notifications';
@import 'loadingSpinner';
@import 'links';
@import 'lib/css-lib';
@import 'dialog';
@import '../jsapp/**/*.scss';

html, body {
  height: 100%;
  font-family: 'Cantarell', Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #444;
  color: #eee;

  >div {
    flex-grow: 1;
  }
}

div, p, table {
  margin: 1em;
}

#content {
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: rgba(0,0,0,0.9);
  padding: 1em;
  box-shadow: 0 0 10px #000;
}

footer {
  >div {
    display: flex;
    justify-content: space-between;
  }
}

strong {
  font-weight: bold;
}

.center {
  text-align: center;
}


/// shared

.temp-container {
  display: flex;
  
  h2 {
    margin: 0.5em;
    cursor: default;

    &.low {
      color: #15a3e0 !important;
    }

    &.high {
      color: #ef3725 !important; 
    }
  }

}