@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "The Weather";
    Layout = "_Layout";
}


<div ng-app="weatherApp" ng-controller="weatherController as wvm">

  <h1 class="center">The Weather</h1>

  <div id="big-container" ng-class="wvm.currentConditions ? 'side-search' : 'big-search'">
    <div id="search-container">
      <h2>Search</h2>
      <input placeholder="Enter City or Zip" ng-model="wvm.query"/><button ng-click="wvm.getWeatherData()">Get Forecast</button>
      <p>City, State -OR- Zip Code</p>
    </div>
    <div id="current-conditions-container">
      <current-conditions-card data="wvm.currentConditions" ng-class="wvm.visibility" ng-if="wvm.currentConditions"></current-conditions-card>
    </div>
  </div>

  <h1 ng-if="wvm.alerts">Alerts</h1>
  <alert ng-repeat="a in wvm.alerts | orderBy: 'time * 1000'" data="a" class="error-notification" ng-if="wvm.alerts"></alert>

  <h1 ng-if="wvm.dailyForecastData">Forecast for this Week</h1>
  <p ng-if="wvm.dailyForecastData" style="margin: 1em 2em;">{{wvm.dailyForecastData.summary}}</p>
  <div id="forecast-container" ng-style="wvm.dailyForecastData ? {'overflow-x' : 'scroll' } : {}">
    <forecast-day-card ng-repeat="d in wvm.dailyForecastData.data" data="d" ng-if="wvm.dailyForecastData"></forecast-day-card>
  </div>

</div>
