@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "The Weather";
    Layout = "_Layout";
}


<div ng-app="weatherApp" ng-controller="weatherController as wvm">

  <div class="loading-overlay" ng-class="wvm.loading ? 'visible' : 'hidden'">
    <ng-include src="wvm.iconMappings.loading"></ng-include>
  </div>

  <div id="big-container">
    <h1 class="center">The Weather</h1>

    <div id="search-container">
      <input placeholder="Enter City or Zip" ng-model="wvm.query" ng-keyup="wvm.checkEnter($event)"/> <button ng-click="wvm.getWeatherData()" ng-disabled="wvm.loading"><ng-include src="wvm.iconMappings.magnify"></ng-include></button>
      <p>City, State -OR- Zip Code</p>
    </div>
  </div>

  <div id="current-conditions-container" ng-if="wvm.currentConditions">
    <current-conditions-card data="wvm.currentConditions" geo="wvm.selectedGeo" ng-class="wvm.visibility"></current-conditions-card>
  </div>

  <h1 ng-if="wvm.alerts">Alerts</h1>
  <alert ng-repeat="a in wvm.alerts | orderBy: 'time * 1000'" data="a" class="error-notification" ng-if="wvm.alerts"></alert>

  <h1 ng-if="wvm.dailyForecastData">Forecast for this Week</h1>
  <p ng-if="wvm.dailyForecastData" style="margin: 1em 2em;">{{wvm.dailyForecastData.summary}}</p>
  <daily-forecast data="wvm.dailyForecastData" ng-if="wvm.dailyForecastData"></daily-forecast>
</div>
