<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - By Tom Sears</title>
        <link rel="stylesheet" href="/styles/main.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <link href="http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />
        <script src="/js/lib/nglib.js"></script>
        <script src="/js/weather.min.js"></script>
    </head>
    <body>
        <header></header>
        <div id="content">
            @RenderBody()
        </div>

        <footer>
            <div>
                <p>Powered by <a href="https://darksky.net/poweredby/">Dark Sky</a> and <a href="https://geocod.io/">Geocodio</a></p>
                <p>&copy; 2017 Tom Sears</p>
            </div>
        </footer>

        @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production") {
            <script type="text/javascript">
                var _paq = _paq || [];
                // tracker methods like "setCustomDimension" should be called before "trackPageView"
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="//analytics.fusorsoft.net/";
                    _paq.push(['setTrackerUrl', u+'piwik.php']);
                    _paq.push(['setSiteId', '3']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
        }
    </body>
</html>
