<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - By Tom Sears</title>
        <link rel="stylesheet" href="/styles/main.min.css"/>
        <script src="/js/lib/nglib.js"></script>
        <script src="/js/weather.min.js"></script>
    </head>
    <body>
        <header>
            @Html.Partial("GlobalNav")
        </header>
        <div>
            @RenderBody()
        </div>

        <footer>
            <p><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></p>
            <p>&copy; 2017 Tom Sears</p>
        </footer>

    </body>
</html>
