 #current-conditions-container {
     border-radius: 5px;
     background-color: #555;
     padding: 1em;
     margin: 1em 2em;
     box-shadow: 3px 3px #333;

     .temp-chart-container {
       height: 20em !important;
     }

     @media only screen and (max-width: 767px) {
         margin: auto;
     }
 }

#current-conditions-card {
    visibility: hidden;
    transition:opacity linear 0.5s;

    &.hidden {
        opacity: 0;
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    @media only screen and (max-width: 767px) {
        margin: 0;
    }
}

.conditions.data {
    display: flex;
    justify-content: space-between;

    .icon-container {
        svg {
            height: 100px;
            width: 100px;

            path {
                fill: #eee;
            }
        }
    }

    >div:first-child {
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 1em 2em;
        width: 15%;
        text-align:center;
    }

    >div:last-child {
        flex-grow: 1;
        table {
            width: 100%;
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 767px) {
        display: block;
        margin: auto 0;

        >div:first-child {
            width: auto;

        }

        table {
            margin: 0 auto;
        }
    }
}
