#current-conditions-card {
    visibility: hidden;
    transition:opacity linear 0.5s;

    #icon-container {
        svg {
            height: 100px;
            width: 100px;

            path {
                fill: #eee;
            }
        }
    }

    &.hidden {
        opacity: 0;
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    .data {
        display: flex;
        justify-content: space-between;

        >div:first-child {
            border: 1px solid #eee;
            border-radius: 5px;
            padding: 1em 2em;
        }

        >div:last-child {
            flex-grow: 1;
            table {
                width: 100%;
            }
        }
    }
}
